@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
:root{
    --btn-color:#e58f00;
    --about-sec:#1d1d23;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    transition: 0.5s;
    text-transform: capitalize;
}
html{
    font-size: 65%;
    scroll-behavior: smooth;
}
.header{
    padding: 1rem 7%;
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background:#1d1d23;
    border-bottom: 5px solid #e58f00;
}
.logo{
    display: flex;
    padding-right: 10px;
}
.logo img{
    width: 65px;
    height: 55px;
}
.logo h3{
    width: 90px;
    font-size: 40px;
    color: #e58f00;
    padding-top: 9px;
}

nav {
    display: block;
    justify-content: center;
    margin-right: 23%;
}

nav ul {
    display: flex;
    position: relative;
    list-style-type: none;
}

.navbar{
    margin-bottom: -21px;
}

.navbar .br{
    color: white;
    margin-right: 2rem;
    padding: 1rem;
    font-size: 1.8rem;
    background-color: #e58f00;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 10px 10px 0 0;
}

.navbar a{
    color: white;
    margin: 1rem;
    padding: 1rem;
    font-size: 1.6rem;
}
.navbar a:hover{
    color: #FF4C29;
}
.icons div{
    color: white;
    font-size: 1.5rem;
    margin-right: 10px;
    display: none;
}
.icons div:hover{
    cursor: pointer;
}

.icons a{
    color: white;
    padding: 0.6rem 1.5rem;
    border: 1px solid orange;
    border-radius: 10px;
    font-size: 18px;
    transition: 0.5s;
    display: inline-block;
}

.contact-btn:hover{
    transform: scale(1.1);
    background: var(--btn-color);
    border: 1px solid white;
}

.navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.quality{
    padding: 11rem 4%;
    background-image: linear-gradient(60.50deg, white 52.45%, var(--btn-color) 52.45%);
}

.main-quality{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.main-inner-quality{
    flex: 1 1 45rem;
}

.quality-content{
    padding: 0 4rem;
}

.quality-content h1{
    color: #fff;
    font-size: 40px;
    margin-bottom: 15px;
    margin-left: 100px;
    
}

.quality-content p{
    color: var(--about-sec);
    font-size: 1.5rem;
    line-height: 30px;
    margin-left: 100px;
    padding-bottom: 100px;
    text-align: justify ;
}

.qulity-image{
    width: 100%;
}

.qulity-image img{
    width: 100%;
    object-fit: cover;
}

.our-menu-food{
    padding: 2rem 7%;
    background-color: var(--about-sec);
    padding-top: 140px;
    width: 100%;
}
.our-menu-food h1{
    color: var(--btn-color);
    font-size: 45px;
    padding: 0.5rem 0;
}
.main-menu-food{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;

}
.inner-menu-food{
    flex: 1 1 300px;
}
.menu-food-content{
    width:100%;

}
.menu-food-content img{
    width: 100%;
}

.menu-food-text{
    padding: 1rem 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
    text-decoration: none;
}
.menu-food-text h2 a{
    color: var(--btn-color);
    font-size: 26px;
    text-decoration: none;
}

.before{
    background-color: #1d1d23;
    padding: 2rem 0;
}

.before{
    width: 100%;
}

.before img{
    width: 100%;
    object-fit: cover;
}

.main-menu-food .inner-menu{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.inner-menu{
    flex: 1 1 300px;
}

.menu-content{
    width: 65%;

}
.menu-content img{
    width: 100%;
}

.menu-content-text{
    padding: 2rem 2rem;
}

.menu-content-text{
    padding: 2rem 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.menu-content-text h2 a{
    color: #e58f00;
    font-size: 26px;
    text-decoration: none;
}

.menu-content-text p:hover span{
    border: 1px solid white;
    background: var(--btn-color);
    color: white;
    transform: scale(1.1);
}

.before{
    background-color: #1d1d23;
    padding: 2rem 0;
}

.before{
    width: 100%;
}

.before img{
    width: 100%;
    object-fit: cover;
}

footer{
    position: relative;
    background: #1d1d23;
    width: 100%;
    padding-top: 5px;
    color: white;
    border-top: 2px solid #e58f00;
    position: relative;
    list-style-type: none;
    margin-left: 0;
    margin-right: 0;
}

.footer1 {
    color: #fff;
    text-align: center;
    list-style-type: none;
    list-style: none;
       width: 100%; 
}

.footer1 p{
    font-size: 2rem;
    margin-bottom: 2px;
}

.footer1 ul li{
    margin: 0 10px;
    list-style-type: none;

}

.socials {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.socials a{
    color: #fff;
}
.socials a i{
    font-size: 2.5rem;
}

.footer-bottom{
    background: #1d1d23;
    width: 100%;
    padding: 8px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 2px;
}
